<head>
    <title>Qubes | Dashboard</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Qubes Bootstrap 4x admin is super flexible, powerful, clean &amp; modern responsive admin dashboard with unlimited possibilities.">
    <meta name="keywords" content="admin template, Qubes admin template, dashboard template, flat admin template, responsive admin template, web app, Light Dark version">
    <meta name="author" content="GetBootstrap, design by: puffintheme.com">

    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="~/admin-template/assets/vendor/bootstrap/css/bootstrap.min.css">
    @* <link rel="stylesheet" href="~/admin-template/assets/vendor/font-awesome/css/font-awesome.min.css"> *@
    <link rel="stylesheet" href="~/admin-template/assets/vendor/animate-css/vivify.min.css">

    <link rel="stylesheet" href="~/admin-template/assets/vendor/c3/c3.min.css" />
    <link rel="stylesheet" href="~/admin-template/assets/vendor/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="~/admin-template/assets/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="~/admin-template/light/assets/css/site.min.css">

    <link href="~/admin-template/assets/vendor/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>