<div id="rightbar" class="rightbar">
    <div class="slim_scroll">
        <div class="chat_detail vivify fadeIn delay-100">
            <ul class="chat-widget clearfix">
                <li class="left float-left">
                    <div class="avtar-pic w35 bg-pink"><span>KG</span></div>
                    <div class="chat-info">
                        <span class="message">Hello, John<br>What is the update on Project X?</span>
                    </div>
                </li>
                <li class="right">
                    <img src="~/admin-template/assets/images/xs/avatar1.jpg" class="rounded" alt="">
                    <div class="chat-info">
                        <span class="message">Hi, Alizee<br> It is almost completed. I will send you an email later today.</span>
                    </div>
                </li>
                <li class="left float-left">
                    <div class="avtar-pic w35 bg-pink"><span>KG</span></div>
                    <div class="chat-info">
                        <span class="message">That's great. Will catch you in evening.</span>
                    </div>
                </li>
                <li class="right">
                    <img src="~/admin-template/assets/images/xs/avatar1.jpg" class="rounded" alt="">
                    <div class="chat-info">
                        <span class="message">Sure we'will have a blast today.</span>
                    </div>
                </li>
            </ul>
            <div class="input-group p-t-15">
                <textarea rows="3" class="form-control" placeholder="Enter text here..."></textarea>
            </div>
        </div>
    </div>
</div>