@model UpdateServiceDto

@{
    ViewData["Title"] = "UpdateService";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12 col-md-12">
    <div class="card">
        <div class="header">
            <h2> Hizmet Güncelleme Sayfası</h2>
        </div>
        <div class="body">
            <form method="post" class="forms-sample">
                <input type="hidden" asp-for="ServiceID" />
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Hizmet Adı : </span>
                    </div>
                    <input type="text" asp-for="Title" class="form-control" placeholder="Hizmet adını giriniz." aria-describedby="basic-addon1">
                </div>
                <div class="mb-3">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Hizmet Açıklaması : </span>
                    </div>
                    <textarea rows="5" asp-for="Description" class="form-control" placeholder="Hizmet açıklamasını giriniz." aria-describedby="basic-addon1"></textarea>
                </div>
                <div class="mb-3">
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary me-2 col-12">Hizmet Güncelle!</button>
            </form>
        </div>
    </div>
</div>




