@model List<ResultFeatureDto>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12">
	<div class="table-responsive">
		<table class="table table-hover table-custom spacing8">
			<thead>
				<tr>
					<th>Görsel URL</th>
					<th>Başlık 1</th>
					<th>Başlık 2</th>
					<th>Açıklama</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var feature in Model)
				{
					<tr>
						<td class="w60">
							<img src="@feature.ImageURl" data-toggle="tooltip" data-placement="top" title="Name" alt="MainCategory" class="w35 rounded">
						</td>
						<td>@feature.Title1</td>
						<td>@feature.Title2</td>

						<td>
							<textarea class="form-control" disabled="disabled">@feature.Description</textarea>
						</td>
						<td class="text-right">
							<div class="dropdown">
								<a class="btn btn-sm btn-icon-only text-dark" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="fa fa-ellipsis-v"></i>
								</a>
								<div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
									<a class="dropdown-item" href="/Admin/Feature/UpdateFeature/@feature.ID"><i class="fa fa-pencil mx-0"></i> Güncelle</a>
									<a class="dropdown-item" href="/Admin/Feature/DeleteFeature/@feature.ID"><i class="fa fa-trash mx-0"></i> Sil</a>
								</div>
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>