
<div class="col-lg-3 col-md-12">
    <div class="card">
        <div class="header">
            <h2>My Balance</h2>
        </div>
        <div class="body">
            <div class="card-value float-right text-blue">+15%</div>
            <h4 class="mb-0 mt-2">$5,021.00</h4>
        </div>
        <div class="card-chart-bg">
            <span id="linecustom">6,7,5,9,7,8,4,7,6,9,11,16,10,8,9,12</span>
        </div>
    </div>
    <div class="card">
        <div class="body top_counter">
            <div class="icon bg-success text-white"><i class="fa fa-area-chart"></i> </div>
            <div class="content">
                <span>Growth</span>
                <h5 class="number mb-0">62%</h5>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="body top_counter">
            <div class="icon bg-warning text-white"><i class="fa fa-building"></i> </div>
            <div class="content">
                <span>Properties</span>
                <h5 class="number mb-0">53,251</h5>
            </div>
        </div>
    </div>
</div>