<div class="col-lg-3 col-md-6">
    <div class="card">
        <div class="header">
            <h2>Page Views(Avg)</h2>
        </div>
        <div class="body text-center">
            <h4>6.25</h4>
            <p class="mb-2"><span><i class="fa fa-caret-up text-success ml-1"></i> +1.12</span> vs last month (4.0)</p>
            <div id="Page_Views" style="height: 140px"></div>
        </div>
    </div>
    <div class="card">
        <div class="body">
            <div class="card-value float-right text-muted"><i class="icon-bubbles"></i></div>
            <h3 class="mb-1">2,54,021</h3>
            <div>Total Clicks</div>
        </div>
    </div>
</div>