

    <div class="col-lg-6 col-md-12">
        <div class="card">
            <div class="header">
                <h2>Product Valuation</h2>
            </div>
            <div class="body">
                <div id="chart-bar" style="height: 350px"></div>
            </div>
        </div>
    </div>
   
 

