
<div class="col-lg-3 col-md-6">
    <div class="card">
        <div class="header">
            <h2> Sales Revenue </h2>
        </div>
        <div class="body text-center">
            <div class="mt-4">
                <input type="text" class="knob" value="34" data-width="147" data-height="147" data-thickness="0.07" data-bgColor="#ebeeef" data-fgColor="#395bb6">
            </div>
            <h3 class="mb-0 mt-3 font300">24,301 <span class="text-green font-15">+3.7%</span></h3>
            <small>Lorem Ipsum is simply dummy text <br> <a href="#">Read more</a> </small>
            <div class="mt-4">
                <span class="chart_3">2,5,8,3,6,9,4,5,6,3</span>
            </div>
        </div>
    </div>
</div>