
<div class="row clearfix">
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="body">
                <div class="w_summary">
                    <div class="s_chart">
                        <span class="chart">5,2,3,6,9,8,4,1,2,8</span>
                    </div>
                    <div class="s_detail">
                        <h2 class="font700 mb-0">$15K</h2>
                        <span>67% <i class="fa fa-level-up text-success"></i> Total income</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="body">
                <div class="w_summary">
                    <div class="s_chart">
                        <span class="chart">6,3,2,5,8,9,5,4,2,3</span>
                    </div>
                    <div class="s_detail">
                        <h2 class="font700 mb-0">$1258</h2>
                        <span>15% <i class="fa fa-level-up text-success"></i> Total Expense</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="body">
                <div class="w_summary">
                    <div class="s_chart">
                        <span class="chart">3,5,1,6,2,4,8,5,3,2</span>
                    </div>
                    <div class="s_detail">
                        <h2 class="font700 mb-0">$2315</h2>
                        <span>23% <i class="fa fa-level-up text-success"></i> Total Growth</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="body">
                <div class="w_summary">
                    <div class="s_chart">
                        <span class="chart">8,5,2,9,6,3,4,5,6,7</span>
                    </div>
                    <div class="s_detail">
                        <h2 class="font700 mb-0">$1025</h2>
                        <span>52% <i class="fa fa-level-up text-success"></i> Bounce Rate</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>